londonaicentre-mesa-runner==1.4.2
londonaicentre-oncoschema==2.1.0
oncollamaschemav3 @ git+https://github.com/londonaicentre/oncollamaschemav3.git@82d96f5d387afb80b4887b438fde3c3aefed00f7
pydantic==2.13.4
pyyaml==6.0.3
streamlit==1.58.0
